/* Custom scrollbar for dark dropdowns */

/* Custom dark scrollbar for dropdowns */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6d28d9;
  border-radius: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
  box-shadow: none;
  border: none;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6d28d9 transparent;
  background: transparent !important;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6d28d9 transparent;
}